<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/chart.js') }}"></script>
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
            <form method="post" action="/auth/register/" id="registerForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           name="email">
                    <div id="emailHelp" class="form-text">Электронная почта</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPhone" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp"
                           name="phone_number">
                    <div id="phoneHelp" class="form-text">Номер телефона</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputFirstName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="first_nameHelp"
                           name="first_name">
                    <div id="first_nameHelp" class="form-text">Ваше имя</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputLastName" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="last_nameHelp"
                           name="last_name">
                    <div id="last_nameHelp" class="form-text">Ваша фамилия</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

</div>

</body>
<script>
    document.getElementById('registerForm').addEventListener('submit', submitForm);

    function submitForm(event) {
        // Отменяем стандартное поведение браузера с отправкой формы
        event.preventDefault();

        // event.target — это HTML-элемент form
        let formData = new FormData(event.target);

        // Собираем данные формы в объект
        let obj = {};
        formData.forEach((value, key) => obj[key] = value);

        // Собираем запрос к серверу
        let request = new Request(event.target.action, {
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json',
            },
        });

        // Отправляем (асинхронно!)
        fetch(request).then(
            function (response) {
                // Запрос успешно выполнен
                window.location.href = 'nutritions';
                console.log(response);
                // return response.json() и так далее см. документацию
            },
            function (error) {
                // Запрос не получилось отправить
                console.error(error);
            }
        );

        // Код после fetch выполнится ПЕРЕД получением ответа
        // на запрос, потому что запрос выполняется асинхронно,
        // отдельно от основного кода
        console.log('Запрос отправляется');
    }
</script>
</html>